$black: #000000;
$gold: #fac422;
$blue: #57b8ff;
$footer-background-grey: #222730;
$border-grey: #3b3d46;
$white: #ffffff;
$description-grey: #dfdfdf;
$background-grey: #2a313c;
$dark-grey: #80858f;
$grey: #999999;

$tablet-width: 600px;
$desktop-width: 1050px;